<style>

    .sysInfo ul li {
        float: none;
        text-align: left;
        background: none;
        list-style-type: disc;
        line-height: 20px
    }

    .sysInfo ul {
        background-color: #fff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .sysInfo label {
        font-size: large;
        background-color: #fff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: left;
        clear: both;
        color: #00a6ce
    }

    .nav ul li {
        background: none;
    }

    .btn1 {
        outline: auto;
        display: block;
        width: 180px;
        background: none;
        color: #00a6ce;

    }

    /*设置盒子的样式*/
    .menuDiv {
        color: black;
        background-color: #EEF5F9;
        text-align: center;
        display: block;
    }
    /*隐藏二级菜单*/
    .menuUL {
        position: absolute;
        display: none;

    }
    /*鼠标移到盒子，显示二级菜单*/
    .menuDiv:hover ul {
        display: block;
    }
    /*盒子伪类样式*/
    .menuDiv:hover {
        color: #ff0000;
    }

    /*二级菜单样式*/
    .menuLI {
        float: none;
        width: 40px;
        text-align: left;
        display: block;

    }
    /*二级菜单伪类*/
    .menuLI:hover {
        color: #ff0000;
        /*background-color: #6f7fe2;*/
    }

</style>

<script>
    $(".menuDiv a").attr("disabled",true).css("pointer-events","none");
</script>

<div class="sysInfo">
    <label>设备信息</label>
    <ul>
        <li>手控器编号:   {{hospital.handController}}</li>
        <li>手控器韧件:   {{hospital.firmwareVersion}}</li>
        <li>主机韧件:     {{hospital.machineNumber}}</li>
        <li>癌症运算法则: {{hospital.algorithm}}</li>
    </ul>
</div>

<div class="sysInfo">
    <label>应校准日期</label>
    <ul>
        <li>{{hospital.adjustDate}}</li>
    </ul>
</div>

<div class="nav" style="margin-top:40px">
    <ul>
    <li class="list-inline-item menuDiv">
        <a href="#" class="btn1">开始 V</a>
        <ul class="menuUL">
            <li class="menuLI"><button class="btn1" style="color: #00a6ce;" ng-click="gotoReport('/truscreen/reports_woman')">非孕妇</button></li>
            <li class="menuLI"><button class="btn1" style="color: #00a6ce;" ng-click="gotoReport('/truscreen/reports_pregnancy')">孕妇</button></li>
        </ul>
    </li>
    <li id="find">
        <a class="btn1" style="color: #00a6ce;line-height: 30px" ng-click="gotoFind('/truscreen/reports_woman')">查找报告</a>
    </li>

       <li id="doctorHub" style="display: none">
            <a href="#/truscreen/doctors" class="btn1">医生</a>
        </li>
    <li id="logout"><a href="" class="btn1" onclick="logout()">退出</a></li>
    </ul>

</div>