<div class="row span10">
            <form ng-submit="login()">
            	<label name="s" for="aantalUren">用户名:	</label>
                <input id="aantalUren" type="text" class="span4" placeholder="用户名" required="required" ng-model="doctorName">
               	<br>
                <label name="sq" for="activiteit">密码:	</label>
                <input id="activiteit" type="Password" class="span4" ng-model="password" required="required">
               <input type="submit"  value="登录" class="span1 btn btn-success">
            </form>
</div>
<!-- 
<div class="row span10">
            <form ng-submit="login2()">
                <input id="aantalUren" type="text" class="span1" placeholder="User Name" required="required" ng-model="username">
                <input id="activiteit" type="password" class="span4" ng-model="password" required="required">
                <input type="Login" value="+" class="span1 btn btn-success">
            </form>
</div>
 -->